.content {
  position: relative;
  top: 15px;
  left: 20px;
  width: 250px;
  height: 180px;
}

.specifications-auto {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 400px;
}

.info-create-moddify{
  position: absolute;
  top: 482px;
  /*left: 50px;*/
  width: 400px;
}

.image-auto {
  position: absolute;
  top: 80px;
  left: 200%;
}

.border-image-auto {
  width: 600px;
  height: 300px;
  border: 1px solid #ccc;
}

.contact {

}

h1 {
  color: #525254;
  font-weight: bold;
}

h2 {
  color: #525254;
}

th {
  font-weight: normal;
  border-bottom: 2px solid #f7f9f8;
  border-right: 30px solid #f7f9f8;
  border-left: 30px solid #f7f9f8;
  padding: 8px 2px;
}

td {
  border-right: 30px solid #f7f9f8;
  border-left: 0% solid #f7f9f8;
  padding: 12px 2px;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.button-edit-auto-ads {
  padding-top: 0%;
  display: table-cell;
  width: 490px;
}

.button-edit-auto-ads .mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-stroked-button {
  font-size: 14px;
}

.price {
  font-size: 25px;
}

.div-compare {
  height: 50px
}

.mat-form-field {
  margin-right: 8px;
}

.text-no-auto-ads {
  font-size: 25px;
  align-items: center;
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  text-align: center;
  margin-top: 200px;
  margin-left: 30%;
}

.buttons-control {
  position: absolute;
  margin: 10% 25% 0 205%;
  width: 70%;
  height: 25%;
}

.button-edit {
  position: absolute;
  margin-left: 0%;
}

.button-edit-info {
  position: absolute;
  margin-left: 45%;
}

.button-change-info {
  position: absolute;
  margin-left: 90%;
}

.text-deleted-auto-ads {
  width: 50%;
  font-size: 25px;
}


