<h1 class="text-center"> List auto ads</h1>
<div>
  <table mat-table
         [dataSource]="cars"
         cdkDropList
         cdkDropListOrientation="horizontal">
    <ng-container matColumnDef="photo">
      <th mat-header-cell cdkDrag *matHeaderCellDef> Picture</th>
      <td mat-cell *matCellDef="let element">
        <ng-template [ngIf]="isImage">
          <div class="picture-box">
            <img width="100" height="50" alt={{cars.nameModel}} [src]="getImageAuto(element.raster)">
          </div>
        </ng-template>
        <ng-template [ngIf]="!isImage">
          <p>No photo</p>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="brand">
      <th class="head-table" mat-header-cell cdkDrag *matHeaderCellDef> Brand</th>
      <td mat-cell *matCellDef="let element">
        <div class="div-ceil-tbody">
          <a href="/page-auto"
             class="nav-link"
             routerLink="page-auto"
             (click)="goToSelectAuto(element.idPicture)">
            {{element.nameBrand}}
          </a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th class="head-table " mat-header-cell cdkDrag *matHeaderCellDef> Model</th>
      <td mat-cell *matCellDef="let element">
        <div class="div-ceil-tbody">
          <a href="/page-auto"
             class="nav-link"
             routerLink="page-auto"
             (click)="goToSelectAuto(element.idPicture)">
            {{element.nameModel}}
          </a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th class="head-table" mat-header-cell cdkDrag *matHeaderCellDef> Year</th>
      <td mat-cell *matCellDef="let element">
        <div class="div-ceil-tbody">
          {{element.year}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th class="head-table" mat-header-cell cdkDrag *matHeaderCellDef> Price</th>
      <td mat-cell *matCellDef="let element">
        <div class="div-ceil-tbody">
          {{formatPrice(element.price)}}&nbsp;₽
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="body style">
      <th class="head-table" mat-header-cell cdkDrag *matHeaderCellDef> Body style</th>
      <td mat-cell *matCellDef="let element">
        <div class="div-ceil-tbody">
          {{formatPrice(element.bodyStyleType)}}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns; "></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataLength"
                 [pageSize]="pageSize"
                 [pageIndex]="page"
                 [pageSizeOptions]="[5, 10, 15, 20]"
                 (page)="getIndexPage($event.pageIndex, $event.pageSize)">
  </mat-paginator>
</div>
