<h1 class="text-center"> List auto ads</h1>
<div>
  <table mat-table
         [dataSource]="cars"
         cdkDropList
         cdkDropListOrientation="horizontal" >
    <ng-container matColumnDef="photo">
      <th mat-header-cell cdkDrag *matHeaderCellDef> Picture</th>
      <td mat-cell *matCellDef="let element"> <ng-template [ngIf]="isImage">
        <div class = "picture-box">
          <img width="100" height="50" alt={{cars.nameModel}} [src]="getImageAuto(element.raster)">
        </div>
      </ng-template>
        <ng-template [ngIf]="!isImage">
          <p>No photo</p>
        </ng-template> </td>
    </ng-container>

    <ng-container matColumnDef="brand">
      <th mat-header-cell cdkDrag *matHeaderCellDef> brand</th>
      <td mat-cell *matCellDef="let element">
        <a href="/page-auto"
           class="nav-link"
           routerLink="page-auto"
           (click)="goToSelectAuto(element.idPicture)">
          {{element.nameBrand}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell cdkDrag *matHeaderCellDef> model</th>
      <td mat-cell *matCellDef="let element">
        <a href="/page-auto"
           class="nav-link"
           routerLink="page-auto"
           (click)="goToSelectAuto(element.idPicture)">
          {{element.nameModel}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell cdkDrag *matHeaderCellDef> year</th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell cdkDrag *matHeaderCellDef> price</th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="update" *ngIf="isModerator || isAdmin">
      <th mat-header-cell cdkDrag *matHeaderCellDef> update</th>
      <td mat-cell *matCellDef="let element">
        <button class="button blue">
          <span class="material-icons" (click)="goToUpdate(element.id)">update</span>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete" *ngIf="isModerator || isAdmin">
      <th mat-header-cell cdkDrag *matHeaderCellDef> delete</th>
      <td mat-cell *matCellDef="let element">
        <button class="button blue">
          <span class="material-icons" (click)="deleteAuto(element)">delete</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns; "></tr>
  </table>

  <mat-paginator [length]="sizeCars"
                 [pageSize]="pageSize"
                 (page)="getIndexPage($event.pageIndex)">
  </mat-paginator>
</div>
