<h2>Search of auto</h2>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td> Brand:</td>
      <td>
        <select formControlName="brandType">
          <option [ngValue]="null" disabled>Select brand</option>
          <option *ngFor="let brandType of brands" [ngValue]="brandType.name">{{brandType.name}}</option>
        </select>
      </td>
      <td> Model:</td>
      <td>
        <select [formControl]="modelControl">
          <optgroup *ngFor="let modelGroup of modelGroups" [label]="modelGroup.name"
                    [disabled]="modelGroup.disabled">
            <option *ngFor="let model of modelGroup.model" [value]="model.name">
              {{model.name}}
            </option>
          </optgroup>
        </select>
      </td>
      <td> Year from:</td>
      <td>
        <select formControlName="startYear">
          <option [ngValue]="null" disabled>Select year</option>
          <option *ngFor="let year of startYears" [ngValue]="year.name">{{year.name}}</option>
        </select>
      </td>
      <td> to:</td>
      <td>
        <select formControlName="endYear">
          <option [ngValue]="null" disabled>Select year</option>
          <option *ngFor="let year of endYears" [ngValue]="year.name">{{year.name}}</option>
        </select>
      </td>
      <td></td>
    </tr>
    <tr>
      <td> Color:</td>
      <td>
        <select formControlName="color">
          <option [ngValue]="null" disabled>Select color</option>
          <option *ngFor="let color of colors" [ngValue]="color.name">{{color.name}}</option>
        </select>
      </td>
      <td> Drive:</td>
      <td>
        <select formControlName="drive">
          <option [ngValue]="null" disabled>Select color</option>
          <option *ngFor="let drive of drives" [ngValue]="drive.name">{{drive.name}}</option>
        </select>
      </td>
      <td> Transmission:</td>
      <td>
        <select formControlName="transmission">
          <option [ngValue]="null" disabled>Select transmission</option>
          <option *ngFor="let transmission of transmissions"
                  [ngValue]="transmission.name">{{transmission.name}}</option>
        </select>
      </td>
      <td> Body style:</td>
      <td>
        <select formControlName="bodyStyle">
          <option [ngValue]="null" disabled>Select body style</option>
          <option *ngFor="let bodyStyle of bodyStyles" [ngValue]="bodyStyle.name">{{bodyStyle.name}}</option>
        </select>
      </td>
      <td></td>
    </tr>
    <tr>
      <td> Motor type:</td>
      <td>
        <select formControlName="motorType">
          <option [ngValue]="null" disabled>Select motor type</option>
          <option *ngFor="let motorType of motorTypes" [ngValue]="motorType.name">{{motorType.name}}</option>
        </select>
      </td>
      <td> Volume from:</td>
      <td>
        <select formControlName="startVolume">
          <option [ngValue]="null" disabled>Select year</option>
          <option *ngFor="let startVolume of startVolumes" [ngValue]="startVolume.name">{{startVolume.name}}</option>
        </select>
      </td>
      <td> to:</td>
      <td>
        <select formControlName="endVolume">
          <option [ngValue]="null" disabled>Select year</option>
          <option *ngFor="let endVolume of endVolumes" [ngValue]="endVolume.name">{{endVolume.name}}</option>
        </select>
      </td>
      <td> Price from:</td>
      <td><input [(ngModel)]="autoSearch.startPrice" [ngModelOptions]="{standalone: true}"
                 placeholder="start"
                 name="startPrice"
                 class="form-control"
                 ng-pattern="/^-?[0-9][^\.]*$/"/>
      </td>
      <td> to:</td>
      <td><input [(ngModel)]="autoSearch.endPrice" [ngModelOptions]="{standalone: true}"
                 placeholder="end"
                 name="endPrice"
                 class="form-control"
                 ng-pattern="/^-?[0-9][^\.]*$/"/>
      </td>
    </tr>
  </table>
  <button class="btn btn-success">Find</button>
</form>
<br>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>№</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>Color</th>
    <th>Price</th>
    <th>Motor type</th>
    <th>Volume</th>
    <th>Drive type</th>
    <th>transmission type</th>
    <th>Body style</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of auto; let i = index">
    <td>{{i + 1}}</td>
    <td>{{car.nameBrand}}</td>
    <td>{{car.nameModel}}</td>
    <td>{{car.year}}</td>
    <td>{{car.color}}</td>
    <td>{{car.price}}</td>
    <td>{{car.motorType}}</td>
    <td>{{car.volume}}</td>
    <td>{{car.driveType}}</td>
    <td>{{car.transmissionType}}</td>
    <td>{{car.bodyStyleType}}</td>
  </tr>
  </tbody>
</table>


