<div class="content">
  <div class="image-auto">
    <div class="container row">
      <div class="col-md-12">
        <ng-template [ngIf]="isPicture">
          <img class="border-image-auto" alt={{auto.nameModel}} [src]="retrievedImage">
        </ng-template>
        <ng-template [ngIf]="!isPicture">
          <h2> No photo </h2>
        </ng-template>
        <div>
          <p>
            <strong>Email: </strong> {{auto.email}}
          </p>
          <p>
            <strong>Phone number: </strong>{{auto.phone}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="info-auto">
    <h1>{{auto.nameBrand}} - {{auto.nameModel}}</h1>
    <h2> Сar specifications: </h2>
    <table>
      <tr>
        <strong>
          <td>Model:</td>
        </strong>
        <td>{{auto.nameModel}}</td>
      </tr>
      <tr>
        <strong>
          <td>Year:</td>
        </strong>
        <td>{{auto.year}}</td>
      </tr>
      <tr>
        <strong>
          <td>Color:</td>
        </strong>
        <td>{{auto.color}}</td>
      </tr>
      <tr>
        <strong>
          <td>Price:</td>
        </strong>
        <td>{{auto.price}}</td>
      </tr>
      <tr>
        <strong>
          <td>Motor:</td>
        </strong>
        <td>{{auto.motorType}}</td>
      </tr>
      <tr>
        <strong>
          <td>Volume:</td>
        </strong>
        <td>{{auto.volume}}</td>
      </tr>
      <tr>
        <strong>
          <td>Drive:</td>
        </strong>
        <td>{{auto.driveType}}</td>
      </tr>
      <tr>
        <strong>
          <td>Transmission:</td>
        </strong>
        <td>{{auto.transmissionType}}</td>
      </tr>
      <tr>
        <strong>
          <td>Body style:</td>
        </strong>
        <td>{{auto.bodyStyleType}}</td>
      </tr>
    </table>
    <section>
      <div class="example-button-row">
        <button mat-stroked-button (click)="goBack()">back to list of auto</button>
      </div>
    </section>
  </div>
</div>



