<ng-template [ngIf]="notNegativeId">
  <div class="content">
    <div class="image-auto">
      <div class="container row">
        <div class="col-md-12">
          <ng-template [ngIf]="isPicture">
            <img class="border-image-auto" alt={{dataAuto.nameModel}} [src]="retrievedImage">
          </ng-template>
          <ng-template [ngIf]="!isPicture">
            <h2> No photo </h2>
          </ng-template>
          <div>
            <p>
              <strong>Email: </strong> {{dataAuto.email}}
            </p>
            <p>
              <strong>Phone number: </strong>{{dataAuto.phone}}
            </p>
            <div class="div-compare" *ngIf="isAdmin || isUser || isModerator">
              <section>
                <div class="example-button-row">
                  <button mat-stroked-button (click)="compareAuto(dataAuto.id)">add to compare</button>
                  <button mat-stroked-button style="margin-left:10px" (click)="goToCompare()" *ngIf="isAddCompare">go to compare</button>
                </div>
              </section>
              <div *ngIf="isAddCompare">
                <p>Added in list compare auto</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-auto">
      <h1>{{dataAuto.nameBrand}} - {{dataAuto.nameModel}}</h1>
      <h2> Сar specifications: </h2>
      <table>
        <tr>
          <strong>
            <td>Year:</td>
          </strong>
          <td>{{dataAuto.year}}</td>
        </tr>
        <tr>
          <strong>
            <td>Color:</td>
          </strong>
          <td>{{dataAuto.color}}</td>
        </tr>
        <tr>
          <strong>
            <td>Price:</td>
          </strong>
          <td><div  class = "price">{{dataAuto.price}}&nbsp;₽</div></td>
        </tr>
        <tr>
          <strong>
            <td>Motor:</td>
          </strong>
          <td>{{dataAuto.motorType}}</td>
        </tr>
        <tr>
          <strong>
            <td>Volume:</td>
          </strong>
          <td>{{dataAuto.volume}}</td>
        </tr>
        <tr>
          <strong>
            <td>Drive:</td>
          </strong>
          <td>{{dataAuto.driveType}}</td>
        </tr>
        <tr>
          <strong>
            <td>Transmission:</td>
          </strong>
          <td>{{dataAuto.transmissionType}}</td>
        </tr>
        <tr>
          <strong>
            <td>Body style:</td>
          </strong>
          <td>{{dataAuto.bodyStyleType}}</td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="!notNegativeId">
  <div class="no-auto-with-id">
    Auto with id = {{dataAuto.id}} does not exist!
  </div>
</ng-template>



