<!--
<div class="container-fluid">
  <div class="col-md-offset-1">
  </div>
  <a routerLink="/cars"> List cars</a>
  <a style="margin-left:10px" routerLink="/add">Add Auto</a>
  <br/>
  <router-outlet></router-outlet>
</div>
-->
<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Auto Ads</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a style="margin-left:10px" href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" >
        <a style="margin-left:25px" href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item">
        <a style="margin-left:35px" href="/cars" class="nav-link" routerLink="cars">List cars</a>
      </li>
      <li class="nav-item">
        <a style="margin-left:45px" href="/add" class="nav-link" routerLink="add">Add Auto</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a style="margin-left:55px" href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a style="margin-rigth:20px" href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a style="margin-rigth:15px" href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a style="margin-rigth:5px" href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a style="margin-rigth:20px" href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a style="margin-rigth:5px" href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
