.content{
  position: relative;
  top: 15px;
  left: 20px;
  width: 250px;
  height: 180px;
}

.auto-add{
  position: absolute;
  top: 40%;
  left:50px;
  width: 250%;
}
.form-auto-add{
  width: 240%;
  height: 100%;
}

.table-select{
  padding-top: 10%;
  width: 200%;
}

.contact{
  position: relative;
  margin-top: 10%;
  left: 250%;
  width: 100%
}

.error-message{
  position: absolute;
  top: 230%;
  left: 240%;
  width: 125%;
  padding: 20px;
}

th {
  font-weight: normal;
  border-bottom: 2px solid #f7f9f8;
  border-right: 30px solid #f7f9f8;
  border-left: 30px solid #f7f9f8;
  padding: 8px 2px;
}
td {
  border-right: 30px solid #f7f9f8;
  border-left: 30px solid #f7f9f8;
  padding: 12px 2px;
}

h1, h2{
  color:navy;
  font-weight: bold;
}

p{
  font-size: 22px;
}

select{
  width: 100%;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.mat-stroked-button {
  font-size: 160%;
}

.price-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.price-full-width {
  width: 100%;
}

.email-full-width {
  width: 100%;
}

.phone-full-width {
  width: 100%;
}

.image-text-color{
  color: #e90719;
  padding-left: 5px;
}

.image-validate{
  padding-left: 20%;
}
