.message:hover {
  text-decoration: none;
  background: #d4d4d4;
  display: inline-block;
  cursor: pointer;
  margin-top: 95px;
  height: 40px;
}

.access-is-denied {
  font-size: 45px;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: center;
  margin-top: 98px;
  margin-left: 25%;
  color: blue;
}
